<div class="row">
    <div class="col s2 walletmenu">
        <div class="row">
            <div class="row" routerLinkActive="active"><a routerLink="/wallet/trans">Transactions</a></div>
            <div class="row" routerLinkActive="active"><a routerLink="/wallet/orders">Orders</a></div>
            <div class="row"><a href="#">Journal</a></div>
            <div class="row"><a href="#">Graphs</a></div>
        </div>
    </div>
    <div class="col s10">
        <router-outlet></router-outlet>
    </div>
</div>