<div class="container">
    <h1>Paths</h1>
    <div class="row">
        <div class="col s4">
            <div *ngFor="let path of paths" (click)="select(path)">
                {{path | json}}
            </div>
        </div>
        <div class="col s8">
            <div *ngIf="selectedPath">
                <h4>{{selectedPathName}}</h4>
                <div #exp *ngFor="let key of selectedKeys">
                    <h5 (click)="exp.expanded = !exp.expanded">{{key}}</h5>
                    <pre *ngIf="exp.expanded">{{selectedPath[key] | json}}</pre>
                </div>
            </div>
        </div>
    </div>
</div>