<div>
    <h1>Transactions <button class="btn" (click)="refresh()">Refresh</button></h1>

</div>
<div *ngIf="transactions">
    <h5>Revenue: {{stats.revenue / 1000 | number:'.2-2'}} B</h5>
    <table *ngIf="stats">
        <thead>
            <tr>
                <th>Duration</th>
                <th>Bought</th>
                <th>Sold</th>
                <th>Diff</th>
                <th>Revenue</th>
                <th>% profit</th>
                <th>Count</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let stat of stats.periods">
                <td>{{stat.name}}</td>
                <td>{{stat.data.buy.sum | number:'.2-2'}} M</td>
                <td>{{stat.data.sell.sum | number:'.2-2'}} M</td>
                <td>{{stat.data.diff.sum | number:'.2-2'}} M</td>
                <td>{{stat.data.revenue | number:'.2-2'}} M</td>
                <td>{{stat.data.diff.percent | number:'.2-2'}} %</td>
                <td>{{stat.data.count | number:'.2-2'}}</td>
            </tr>
        </tbody>
    </table>
</div>
<table class="transactions">
    <thead>
        <tr>
            <th>Name</th>
            <th>Item Price</th>
            <th>Quantity</th>
            <th>Total</th>
        </tr>
    </thead>

    <tbody *ngIf="transactions">
        <tr *ngFor="let trans of transactions" [ngClass]="{'buy': trans.is_buy}">
            <td>{{trans.type_id}}</td>
            <td>{{trans.unit_price | number:'.2-2'}}</td>
            <td>{{trans.quantity}}</td>
            <td>{{trans.quantity * trans.unit_price | number:'.2-2'}}</td>
        </tr>
    </tbody>
</table>