<div class="container">
    <h2>Eve Helper</h2>
    <div *ngIf="characterData">
        <h3>{{characterData.CharacterName}} - {{characterData.CharacterID}}</h3>
        <div>
            <h2>F-F-FFreestylah</h2>
            <h6>rakkamakkaphone</h6>
            <input #fs placeholder="characters/{character_id}/wallet/"><button class="btn" (click)="execGet(fs.value)">Get</button>
            <button class="btn" (click)="execPut(fs.value)">Post</button>
            <button disabled class="btn" (click)="execPost(fs.value)">Put</button>
            <button disabled class="btn" (click)="execDelete(fs.value)">Delete</button>
            <div>
                {{fsData | json}}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s6">
            <h5>Have</h5>
            <textarea rows="5" class="materialize-textarea" #has [ngModel]="materialsHaveString"></textarea>
            <button class="btn" (click)="svartMagi(has.value, need.value, times.value)">Refresh</button>
        </div>
        <div class="col s6">
            <h5>Need</h5>
            <textarea rows="20" cols="50" class="materialize-textarea" #need [ngModel]="materialsNeedString"></textarea> Times: <input type="number" #times [ngModel]="materials.times">
        </div>
        <div>
            <textarea class="materialize-textarea diffresult" [ngModel]="materials.diffString"></textarea>
        </div>
    </div>

</div>