<div class="container">
    <div *ngIf="characters">
        <h3>Characters</h3>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Hash</th>
                    <th class="right-align"><button class="btn" (click)="authorize()">Add</button></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let char of characters">
                    <td>{{char.CharacterID}}</td>
                    <td>{{char.CharacterName}}</td>
                    <td>{{char.CharacterOwnerHash}}</td>
                    <td class="right-align">
                        <button class="btn" (click)="activate(char)" [ngClass]="{'active': char.CharacterID == 'authService.character.CharacterID'}">Active</button>
                        <button class="btn red" (click)="remove(char)">Remove</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>