<div class="container">
    <div *ngIf="!authService.isAuthorized()">
        <h2>Login</h2>
        <div class="row">
            <div class="col s12">
                <button (click)="authorize()" class="btn">Login</button>
            </div>
        </div>
    </div>
    <div *ngIf="authService.isAuthorized()">
        <h2>Already logged in!</h2>
        <div class="col s12">
            {{code}}
            <button (click)="logout()" class="btn">Logout</button>
        </div>
    </div>
</div>