<!--The content below is only a placeholder and can be replaced.-->
<nav>
    <div class="nav-wrapper container">
        <a routerLink="/" routerLinkActive="active" class="brand-logo">Logo {{authService.refreshCountdown}}</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a routerLink="/wallet" routerLinkActive="active">Wallet</a></li>
            <li *ngIf="authService.isAuthorized()"><a routerLink="/login" routerLinkActive="active">Login info</a></li>
            <li *ngIf="!authService.isAuthorized()"><a (click)="login()">Login</a></li>
        </ul>
    </div>
</nav>
<router-outlet></router-outlet>