<!--The content below is only a placeholder and can be replaced.-->
<nav>
    <div class="nav-wrapper container">
        <a routerLink="/" routerLinkActive="active" class="brand-logo" *ngIf="authService.characterSelected">{{authService.character.CharacterName}}</a>
        <ul id="dropdown-calcs" class="dropdown-content">
            <li routerLinkActive="active"><a routerLink="/calc/industry">Industry</a></li>
            <li routerLinkActive="active"><a routerLink="/calc/1">1</a></li>
            <li routerLinkActive="active"><a routerLink="/calc/2">2</a></li>
            <li routerLinkActive="active"><a routerLink="/calc/3">3</a></li>
            <li routerLinkActive="active"><a routerLink="/calc/4">4</a></li>
            <li routerLinkActive="active"><a routerLink="/calc/5">5</a></li>
        </ul>
        <ul id="nav-mobile" class="right hide-on-med-and-down" *ngIf="authService.characterSelected">
            <li routerLinkActive="active"><a routerLink="/paths">paths</a></li>
            <li routerLinkActive="active"><a routerLink="/mining">mining</a></li>
            <li routerLinkActive="active"><a routerLink="/assets">Assets</a></li>
            <li routerLinkActive="active"><a routerLink="/wallet">Wallet</a></li>
            <li><a class="dropdown-button" href="#!" data-activates="dropdown-calcs">Calculators<i class="material-icons right"></i></a></li>
            <li routerLinkActive="active"><a routerLink="/login">Charaters</a></li>
        </ul>
    </div>
</nav>
<router-outlet></router-outlet>